<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/app.32e770dd.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chunk-2a5e4bc4.ca4f56d8.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chunk-vendors.97b05c2c.css">
    <script type="text/javascript" src="/static/js/app.599aafe4.js"></script>
    <script type="text/javascript" src="/static/js/chunk-vendors.98c206fb.js"></script>
    <script type="text/javascript" src="/static/js/chunk-2a5e4bc4.fce45a6b.js"></script>
    <title>平安成电智慧出行</title>
</head>
<body data-new-gr-c-s-check-loaded="14.987.0" data-gr-ext-installed="" style="" cz-shortcut-listen="true">
<noscript><strong>请在您的浏览器启用JavaScript以正常使用系统</strong> <strong>We're sorry but This system doesn't work properly without
    JavaScript enabled. Please enable it to continue.</strong></noscript>
<div data-app="true" class="application theme--light" id="app">
    <div tabindex="-1" data-v-790bada4="" class="v-dialog__content" style="z-index: 0;">
        <div class="v-dialog v-dialog--persistent" style="max-width: 400px; display: none;">
            <div data-v-790bada4="" class="v-card v-sheet theme--light" style="max-width: 400px;">
                <div data-v-790bada4="" class="v-card__title title" style="height: 56px;">登录信息失效</div>
                <div data-v-790bada4="" class="v-card__text py-2 body-1"><!---->
                    <div data-v-790bada4="" class="flex justify-center layout row">
                        <div data-v-d9565426="" class="layout mx-2 column">
                            <div data-v-d9565426="" class="flex align-center column justify-center layout"><i
                                    data-v-d9565426="" aria-hidden="true"
                                    class="v-icon pb-3 mdi mdi-timer-sand-empty theme--light"
                                    style="font-size: 36px;"></i><span data-v-d9565426="" class="subheading">由于长时间未操作, 您的登录信息已失效</span>
                            </div>
                            <div data-v-d9565426="" class="flex">
                                <div data-v-d9565426="" class="text-xs-center pt-2 pb-1">系统将于<span data-v-d9565426=""
                                                                                                   class="px-1 primary--text">0</span>秒后自动退出
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!---->
                <div data-v-790bada4="" class="v-card__text py-0" style="max-height: 150px; overflow-y: auto;">
                    <!----></div><!---->
                <div data-v-790bada4="" class="v-card__actions">
                    <div data-v-790bada4="" class="spacer"></div><!---->
                    <button data-v-790bada4="" type="button" class="v-btn v-btn--flat theme--light primary--text">
                        <div class="v-btn__content">
                            立即退出
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div tabindex="-1" data-v-790bada4="" class="v-dialog__content" style="z-index: 0;">
        <div class="v-dialog v-dialog--persistent" style="max-width: 350px; display: none;">
            <div data-v-790bada4="" class="v-card v-sheet theme--light" style="max-width: 350px;">
                <div data-v-790bada4="" class="v-card__title title" style="height: 56px;"></div>
                <div data-v-790bada4="" class="v-card__text py-2 body-1"><!---->
                    <div data-v-790bada4="" class="flex justify-center layout row"></div>
                </div><!---->
                <div data-v-790bada4="" class="v-card__text py-0" style="max-height: 150px; overflow-y: auto;">
                    <!----></div><!---->
                <div data-v-790bada4="" class="v-card__actions">
                    <div data-v-790bada4="" class="spacer"></div>
                    <button data-v-790bada4="" type="button" class="v-btn v-btn--flat theme--light grey--text">
                        <div class="v-btn__content">
                            取消
                        </div>
                    </button>
                    <button data-v-790bada4="" type="button" class="v-btn v-btn--flat theme--light primary--text">
                        <div class="v-btn__content">
                            确认
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="application--wrap">
        <div data-v-19cace2a="" right="" top="">
            <div data-v-6dc4700a="" data-v-19cace2a=""><span data-v-6dc4700a=""></span><!----><!----><!----></div>
            <div data-v-790bada4="" data-v-19cace2a="" class="v-dialog__container" style="display: block;"></div>
        </div>
        <div data-v-790bada4="" data-v-d9565426="" class="v-dialog__container" style="display: block;"></div>
        <div data-v-e3189a58="" class="container justify-center">
            <div class="layout justify-center column" style="">
                <div class="pa-2 v-card v-sheet theme--light">
                    <div class="layout justify-center column">
                        <div style="text-align: center;"><h2>行人二维码</h2></div>
                        <div class="mt-2" style="text-align: center;"><img
                                src="/static/images/{{ img_file }}"
                                style="width: 200px; height: 200px;"></div>
                        <div style="text-align: center;">二维码剩余有效时间<span id="counter">300</span>秒</div>
                    </div>
                    <div class="layout justify-center">
                        <button type="button" class="primary v-btn theme--light">
                            <div class="v-btn__content">查看通行规则</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/chunk-vendors.98c206fb.js"></script>
<script src="/js/app.599aafe4.js"></script>
<script type="text/javascript">
    window.onload = function () {
        var i = 300;
        setInterval(function () {i--, document.getElementById('counter').innerText = i; }, 1000);
    };
</script>
</body>
</html>